input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }


.container {
background: #4CB8C4; 
background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  
background: linear-gradient(to right, #3CD3AD, #4CB8C4); 
height: 680px;
}


.im{
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
}