<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  ></button>
  <span>Edaiva Assignment</span>
  <span class="example-spacer"></span>
  <button mat-raised-button routerLink="/q1" routerLinkActive="active" color="primary">Que 1</button>&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="primary">Que 2</button>&nbsp;&nbsp;&nbsp;
  <button mat-raised-button routerLink="/q3" routerLinkActive="active" color="primary">Que 3</button>&nbsp;&nbsp;&nbsp;
  <button mat-raised-button routerLink="/q4" routerLinkActive="active" color="primary">Que 4</button>
</mat-toolbar>

<router-outlet></router-outlet>